@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;

    // Explicitly check for "1" string value
    bool isAdmin = HttpContextAccessor.HttpContext?.Session.GetString("IsAdmin") == "1";
    bool isAffiliate = HttpContextAccessor.HttpContext?.Session.GetString("IsAffiliate") == "1";
    bool isCustomer = HttpContextAccessor.HttpContext?.Session.GetString("IsCustomer") == "1";
}

<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                @await Html.PartialAsync("../_Partials/_Macros")
            </span>
            <span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="ti menu-toggle-icon d-none d-xl-block align-middle"></i>
            <i class="ti ti-x d-block d-xl-none ti-md align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
@*         @if (isAdmin)
        {
            <li class="menu-header small">
                <span class="menu-header-text">Administration</span>
            </li>
            <li class='menu-item@(currentPage.StartsWith("/Order") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-shopping-cart"></i>
                    <div data-i18n="Orders">Orders</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/Order/List" ? " active" : "")'>
                        <a asp-controller="Order" asp-action="List" class="menu-link">
                            <div data-i18n="List">List</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Order/Create" ? " active" : "")'>
                        <a asp-controller="Order" asp-action="Create" class="menu-link">
                            <div data-i18n="Create">Create</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='menu-item@(currentPage.StartsWith("/Product") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-box"></i>
                    <div data-i18n="Products">Products</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/Product/List" ? " active" : "")'>
                        <a asp-controller="Product" asp-action="List" class="menu-link">
                            <div data-i18n="List">List</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Product/Create" ? " active" : "")'>
                        <a asp-controller="Product" asp-action="Create" class="menu-link">
                            <div data-i18n="Create">Create</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Product/Categories" ? " active" : "")'>
                        <a asp-controller="Product" asp-action="Categories" class="menu-link">
                            <div data-i18n="Categories">Categories</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='menu-item@(currentPage.StartsWith("/Customer") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-user"></i>
                    <div data-i18n="Customers">Customers</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/Customer/List" ? " active" : "")'>
                        <a asp-controller="Customer" asp-action="List" class="menu-link">
                            <div data-i18n="List">List</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Customer/Create" ? " active" : "")'>
                        <a asp-controller="Customer" asp-action="Create" class="menu-link">
                            <div data-i18n="Create">Create</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='menu-item@(currentPage.StartsWith("/Settings") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-settings"></i>
                    <div data-i18n="Settings">Settings</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/Settings/General" ? " active" : "")'>
                        <a asp-controller="Settings" asp-action="General" class="menu-link">
                            <div data-i18n="General">General</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Settings/Appearance" ? " active" : "")'>
                        <a asp-controller="Settings" asp-action="Appearance" class="menu-link">
                            <div data-i18n="Appearance">Appearance</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Settings/Email" ? " active" : "")'>
                        <a asp-controller="Settings" asp-action="Email" class="menu-link">
                            <div data-i18n="Email">Email</div>
                        </a>
                    </li>
                </ul>
            </li>
        } *@

        @if (isAdmin || isAffiliate)
        {
            <li class="menu-header small">
                <span class="menu-header-text">Affiliate Program</span>
            </li>
            <li class='menu-item@(currentPage.StartsWith("/Affiliate") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-users-group"></i>
                    <div data-i18n="Affiliate">Affiliate</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/Affiliate/Dashboard" ? " active" : "")'>
                        <a asp-controller="Affiliate" asp-action="Dashboard" class="menu-link">
                            <div data-i18n="Dashboard">Dashboard</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Affiliate/Commissions" ? " active" : "")'>
                        <a asp-controller="Affiliate" asp-action="Commissions" class="menu-link">
                            <div data-i18n="Commissions">Commissions</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Affiliate/Customers" ? " active" : "")'>
                        <a asp-controller="Affiliate" asp-action="Customers" class="menu-link">
                            <div data-i18n="Customers">Customers</div>
                        </a>
                    </li>
                    @if (isAdmin)
                    {
                        <li class='menu-item@(currentPage == "/Affiliate/Manage" ? " active" : "")'>
                            <a asp-controller="Affiliate" asp-action="Manage" class="menu-link">
                                <div data-i18n="Manage Affiliates">Manage Affiliates</div>
                            </a>
                        </li>
                        <li class='menu-item@(currentPage == "/Affiliate/Settings" ? " active" : "")'>
                            <a asp-controller="Affiliate" asp-action="Settings" class="menu-link">
                                <div data-i18n="Program Settings">Program Settings</div>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        <!-- Profile Details menu - Admin and Affiliate only -->
        <li class='menu-item@(currentPage.StartsWith("/Pages") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-file"></i>
                <div data-i18n="Pages">Profile Pages</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage.StartsWith("/Pages/Profile") ? " active open" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <div data-i18n="User Profile">User Profile</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage == "/Pages/ProfileUser" ? " active" : "")'>
                            <a asp-controller="Pages" asp-action="ProfileUser" class="menu-link">
                                <div data-i18n="Profile">Profile</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <div data-i18n="Account Settings">Account Settings</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
                            <a asp-controller="Pages" asp-action="AccountSettings" class="menu-link">
                                <div data-i18n="Account">Account</div>
                            </a>
                        </li>
                        <li class='menu-item@(currentPage == "/Pages/AccountSettingsSecurity" ? " active" : "")'>
                            <a asp-controller="Pages" asp-action="AccountSettingsSecurity" class="menu-link">
                                <div data-i18n="Security">Security</div>
                            </a>
                        </li>
                    </ul>
                </li>
               @*  <li class='menu-item@(currentPage == "/Pages/FAQ" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="FAQ" class="menu-link">
                        <div data-i18n="FAQ">FAQ</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Pages/Pricing" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="Pricing" class="menu-link">
                        <div data-i18n="Pricing">Pricing</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active open" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <div data-i18n="Misc">Misc</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage == "/Pages/MiscError" ? " active" : "")'>
                            <a asp-controller="Pages" asp-action="MiscError" class="menu-link" target="_blank">
                                <div data-i18n="Error">Error</div>
                            </a>
                        </li>
                        <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
                            <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
                                <div data-i18n="Under Maintenance">Under Maintenance</div>
                            </a>
                        </li>
                        <li class='menu-item@(currentPage == "/Pages/MiscComingSoon" ? " active" : "")'>
                            <a asp-controller="Pages" asp-action="MiscComingSoon" class="menu-link" target="_blank">
                                <div data-i18n="Coming Soon">Coming Soon</div>
                            </a>
                        </li>
                        <li class='menu-item@(currentPage == "/Pages/MiscNotAuthorized" ? " active" : "")'>
                            <a asp-controller="Pages" asp-action="MiscNotAuthorized" class="menu-link" target="_blank">
                                <div data-i18n="Not Authorized">Not Authorized</div>
                            </a>
                        </li>
                    </ul>
                </li> *@
            </ul>
        </li>

        <!-- e-commerce-app menu - Admin and Affiliate only -->
        @if (isAdmin || isAffiliate)
        {
            <li class="menu-header small">
                <span class="menu-header-text" data-i18n="Ecommerce">Ecommerce</span>
            </li>
            <li class='menu-item@(currentPage.StartsWith("/Ecommerce") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-shopping-cart"></i>
                    <div data-i18n="eCommerce">eCommerce</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/Ecommerce/Dashboard" ? " active" : "")'>
                        <a asp-controller="Ecommerce" asp-action="Dashboard" class="menu-link">
                            <div data-i18n="Dashboard">Dashboard</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Product") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <div data-i18n="Products">Products</div>
                        </a>
                        <ul class="menu-sub">

                            <li class='menu-item@(currentPage == "/Ecommerce/ProductList" ? " active" : "")'>
                                <a asp-controller="Ecommerce" asp-action="ProductList" class="menu-link">
                                    <div data-i18n="Product List">Product List</div>
                                </a>
                            </li>
                            @if (isAdmin)
                            {

                                <li class='menu-item@(currentPage == "/Ecommerce/ProductAdd" ? " active" : "")'>
                                    <a asp-controller="Ecommerce" asp-action="ProductAdd" class="menu-link">
                                        <div data-i18n="Add Product">Add Product</div>
                                    </a>
                                </li>
                            }

                            <li class='menu-item@(currentPage == "/Ecommerce/ProductCategoryList" ? " active" : "")'>
                                <a asp-controller="Ecommerce" asp-action="ProductCategoryList" class="menu-link">
                                    <div data-i18n="Category List">Category List</div>
                                </a>
                            </li>

                        </ul>
                    </li>

                    @if (isAdmin) // Only Admin can manage reviews
                    {
                        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Order") ? " active open" : "")'>
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <div data-i18n="Order">Order</div>
                            </a>
                            <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/Ecommerce/OrderList" ? " active" : "")'>
                                    <a asp-controller="Ecommerce" asp-action="OrderList" class="menu-link">
                                        <div data-i18n="Order List">Order List</div>
                                    </a>
                                </li>
                                <li class='menu-item@(currentPage == "/Ecommerce/OrderDetails" ? " active" : "")'>
                                    <a asp-controller="Ecommerce" asp-action="OrderDetails" class="menu-link">
                                        <div data-i18n="Order Details">Order Details</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (isAdmin) // Only Admin can manage reviews
                    {

                        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Customer") ? " active open" : "")'>
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <div data-i18n="Customer">Customer</div>
                            </a>
                            <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/Ecommerce/CustomerAll" ? " active" : "")'>
                                    <a asp-controller='Ecommerce' asp-action='CustomerAll' class="menu-link">
                                        <div data-i18n="All">All Customers</div>
                                    </a>
                                </li>
                                <li class='menu-item@(currentPage == "/Ecommerce/CustomerDetails" ? " active" : "")'>
                                    <a asp-controller='Ecommerce' asp-action='CustomerDetails' class="menu-link">
                                        <div data-i18n="Customer Details">Customer Details</div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    }
                   @*  @if (isAdmin) // Only Admin can manage reviews
                    {
                        <li class='menu-item@(currentPage == "/Ecommerce/ManageReviews" ? " active" : "")'>
                            <a asp-controller="Ecommerce" asp-action="ManageReviews" class="menu-link">
                                <div data-i18n="Manage Reviews">Manage Reviews</div>
                            </a>
                        </li>
                    }

                    <li class='menu-item@(currentPage == "/Ecommerce/ReferralsBasic" ? " active" : "")'>
                        <a asp-controller="Ecommerce" asp-action="ReferralsBasic" class="menu-link">
                            <div data-i18n="Referrals">Referrals</div>
                        </a>
                    </li> *@

                </ul>
            </li>
        }

        <!-- SHOP SECTION - Available to all users -->
        <li class="menu-header small">
            <span class="menu-header-text" data-i18n="Shop">Shop</span>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Shop") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-shopping-bag"></i>
                <div data-i18n="Shop">Shop</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Shop/Index" ? " active" : "")'>
                    <a asp-controller="Shop" asp-action="Index" class="menu-link">
                        <div data-i18n="Browse Products">Browse Products</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Shop/Cart" ? " active" : "")'>
                    <a asp-controller="Shop" asp-action="Cart" class="menu-link">
                        <div data-i18n="Shopping Cart">Shopping Cart</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Shop/Checkout" ? " active" : "")'>
                    <a asp-controller="Shop" asp-action="Checkout" class="menu-link">
                        <div data-i18n="Checkout">Checkout</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Shop/OrderHistory" ? " active" : "")'>
                    <a asp-controller="Shop" asp-action="OrderHistory" class="menu-link">
                        <div data-i18n="Order History">Order History</div>
                    </a>
                </li>
            </ul>
        </li>


        <!-- Users SECTION - Admin users -->
        @if (isAdmin) // Only Admin can manage reviews

        {

            <li class="menu-header small">
                <span class="menu-header-text" data-i18n="Users">Users</span>
            </li>
            <li class='menu-item@(currentPage.StartsWith("/Users") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-users"></i>
                    <div data-i18n="Users">Users</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/Users/List" ? " active" : "")'>
                        <a asp-controller="Users" asp-action="List" class="menu-link">
                            <div data-i18n="List">List</div>
                        </a>
                    </li>
                </ul>
            </li>
        }



    </ul>
</aside>
<!-- / Menu -->
